body{
    
}
.nav{
    border: 20px;
    justify-content:flex-end;
    
}




.card {
    background-color: #f1c40f;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  
    width: 300px;
    
    transition: transform 0.2s, box-shadow 0.5s;
    
    
    
margin-top: 80px;
border: 10px;
padding: 20px;
margin-bottom: 30px;
    
display: flex;
 margin: 50px;
    
    float: left;  }


.move-image:hover {
    transform: translateY(-10px);
    
    padding: 5px;
   margin: 50px;
}



